@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap');

/* global / typography */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: clamp(0.75rem, 0.75rem + 0.25vw, 1rem);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@media (max-device-width: 800px) {
    body {
        font-size: clamp(1rem, 1rem + 0.25vw, 1.25rem);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
    flex: 1;
}

/* navigation */

nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #333;
    justify-content: center;
    z-index: 2;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    float: left;
}

nav a {
    flex: 1;
    display: block;
    font-size: 1em;
    padding: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 600px) {
    nav ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    nav li {
        flex: 1;
    }
    nav a {
        padding: 1em 1em;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media (max-device-width: 800px) {
    nav ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    nav li {
        flex: 1;
    }
    nav a {
        padding: 2em 1em;
        white-space: nowrap;
        overflow: hidden;
    }
}

nav a:hover {
    background-color: #222;
}

nav .active {
    background-color: #0a6;
}

nav .active:hover {
    background-color: #007f4c;
}


/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #eee560;
    height: 10rem;
}

header img {
    height: 100%;
}

header h1, header h2 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 5em;
    font-family: 'Playfair Display', serif;
}

header h2 {
    font-size: 2em;
    font-weight: normal;
}

@media (max-device-width: 800px) {
    header {
        height: 12em;
    }
    header h1 {
        font-size: 6em;
    }
    header h2 {
        font-size: 2.25em;
    }
}

@media (max-width: 800px) {
    header {
        height: 8em;
    }
    header h1 {
        font-size: 4em;
    }
    header h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 400px) {
    header {
        height: 6em;
    }
    header h1 {
        font-size: 3em;
    }
    header h2 {
        font-size: 1.2em;
    }
}

/* main, footer */

main {
    background-color: white;
    padding: 1em;
    flex: 1;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    margin: 0;
    padding: 0.25em;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

footer a {
    color: inherit;
}

/* elements */

.container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio*/
    z-index: 1;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-style: none;
}

.actives {
    line-height: 1;
}

.actives p {
    text-align: left;
    text-justify: none;
}

@media (max-device-width: 800px) {
    .actives {
        line-height: 1.5;
    }
}

.actives h2 {
    text-decoration: underline;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap div {
    flex: 25%;
    max-width: 25%;
    padding-right: 2em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column3 {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
}

.column2 {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column3 img {
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-device-width: 800px), (max-width: 800px) {
    .wrap div {
        flex: 100%;
        max-width: 100%;
    }
    .column3 {
        flex: 50%;
        max-width: 50%;
    }
    .column2 {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-device-width: 600px), (max-width: 600px) {
    .column3 {
        flex: 100%;
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}

figure {
    padding: 0;
    margin: 0;
}
